[Desktop Entry]
Type=Action
Icon=gnome-panel-launcher
Name=Create new launcher
Name[ru]=Создать кнопку запуска
Profiles=profile-zero;

[X-Action-Profile profile-zero]
Name=Default profile
Name[ru]=Default profile
MimeTypes = inode/directory;
SelectionCount = < 2
TryExec=new-desktop-item-edit
Exec=sh -c "LD_LIBRARY_PATH=/usr/local/lib/x86_64-ext/ new-desktop-item-edit --create-new "./""
